<div class="container pt-4">
  <h3 class="mb-3">Top 100 URL's</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">URL</th>
        <th scope="col">Accesses registered</th>
        <th scope="col">Short URL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Facebook</td>
        <td>https://facebook.com</td>
        <td>15</td>
        <td>http://shorturl.com/1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Twitter</td>
        <td>https://twitter.com</td>
        <td>10</td>
        <td>http://shorturl.com/2</td>
      </tr>
    </tbody>
  </table>
</div>
